$black-color: #060D25;
$white-color: #FFF;
$pink-color: #FFC6F7;
$grey-color: #59617D;
$grey-light-color: #F6F7FB;
$acent-color: #485BFF;
$acent-light-color: #EDEFFF;

// Text color palette
$text-dark-color: $black-color;
$text-acent-color: $acent-color;
$text-secondary-color: $grey-color;
$text-light-color: $white-color;

// Fonts
$root-font-size: 16px;
$primary-font: 'Inter', sans-serif;
$secondary-font: 'Segoe UI', sans-serif;

// Main container
$container-width: 1224px;